/* COLOURS:
Emphasis: #FF0068;
Lighter emphasis: #ff7fb3;
Light grey for faded fonts: #646464;
Light grey for backgrounds: #F5F5F5;
*/

body {
  margin:40px auto;
  max-width:800px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3 {
  line-height:1.2
}

.canvas-container {
  border: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  position: relative;
  /*height: 100%;*/
  /*width: 100%;*/
}

canvas {
  position: absolute;
  display: block;
}

.file-input-wrapper {
  display: inline-block;
}

.algo-form {
  display: inline-block;
}

.button {
  background-color: #2F65A7;
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

.button:hover {
  background-color: #D86018;
}

.button-wrapper {
  padding-top: 0.5em;
}

.draw-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
}

.status {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 120px;
  color: white;
  padding: 0.5em 1em;
  float: right;
}

.field-toggle-wrapper {
  text-decoration: none;
  flex:  auto;
  margin-top: auto;
  margin-right: auto;
}

.increase-toggle-wrapper {
  text-decoration: none;
  flex:  auto;
  margin-top: auto;
  margin-right: auto;
}

.slider-wrapper {
  text-decoration: none;
  flex:  auto;
  margin-right: auto;
}

.range-slider {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

/* Range slider */
.range {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.range:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer; /* Cursor on hover */
}

.range::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer; /* Cursor on hover */
}

.progress {
  margin: 1em auto;
}

/* Nav */

#nav {
  margin: 1em 0 0 0;
  text-align: center;
  background-color: #F5F5F5;
  color:#444;
}

nav > button {
  background-color: inherit;
  border-style: none;
  font: inherit;
  padding: 1em 2em;
}

nav > button:hover {
  background-color: #FF0068;
  color: #fff;
}

button > a {
  color: inherit;
  text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
